In [2]:
from bs4 import BeautifulSoup as soup
from selenium import webdriver
import json
import pandas as pd
# from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options

In [3]:
chop = webdriver.ChromeOptions()
chop.add_extension('AdGuard AdBlocker 4.1.55.0.crx')
driver = webdriver.Chome('chromedriver', chrome_options=chop)

<ipython-input-3-6e08d95acc7b>:3: DeprecationWarning: use options instead of chrome_options
  driver = webdriver.Chrome('chromedriver', chrome_options=chop)

In [5]:
url = 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2018-12210'
driver.get(url)

In [6]:
html = driver.page_source.encode('utf-8')
page_num = 0
content = driver.page_source
page_soup = soup(driver.page_source, 'lxml')

In [35]:
# table = page_soup.findAll('tbody', {'class':''})
table = page_soup.findAll('tr', {'class':'ds-bg-ui-fill-translucent'})

In [47]:
labels = page_soup.findAll('span', {'class':'ds-cursor-pointer'})

In [53]:
all_labels = []
for i in range(14):
    all_labels.append(labels[i].text)

In [54]:
all_labels

['Player',
 'Mat',
 'Inns',
 'NO',
 'Runs',
 'HS',
 'Ave',
 'BF',
 'SR',
 '100',
 '50',
 '0',
 '4s',
 '6s']

In [68]:
top_batters = []
count = 0

for item in table:
    json_obj = {}
    table_objects = item.findAll('td')
    for count in range(len(table_objects)):
        json_obj[all_labels[count]] = table_objects[count].text
    top_batters.append(json_obj)

In [69]:
top_batters_pd = pd.DataFrame.from_dict(top_batters)

In [71]:
top_batters_pd = top_batters_pd.head(20)

In [72]:
top_batters_pd

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,KS Williamson (SRH),17,17,3,735,84,52.50,516,142.44,-,8,1,63,28
1,RR Pant (DC),14,14,1,684,128*,52.61,394,173.60,1,5,1,68,37
2,KL Rahul (KXIP),14,14,2,659,95*,54.91,416,158.41,-,6,-,66,32
3,AT Rayudu (CSK),16,16,2,602,100*,43.00,402,149.75,1,3,1,53,34
4,SR Watson (CSK),15,15,1,555,117*,39.64,359,154.59,2,2,1,44,35
5,SA Yadav (MI),14,14,0,512,72,36.57,384,133.33,-,4,1,61,16
6,KD Karthik (KKR),16,16,6,498,52,49.80,337,147.77,-,2,-,49,16
7,S Dhawan (SRH),16,16,3,497,92*,38.23,363,136.91,-,4,1,59,14
8,CA Lynn (KKR),16,16,1,491,74,32.73,377,130.23,-,3,1,56,18
9,MS Dhoni (CSK),16,15,9,455,79*,75.83,302,150.66,-,3,-,24,30
10,SK Raina (CSK),15,15,3,445,75*,37.08,336,132.44,-,4,-,46,12
11,SV Samson (RR),15,15,1,441,92*,31.50,320,137.81,-,3,1,30,19
12,SS Iyer (DC),14,14,3,411,93*,37.36,310,132.58,-,4,-,29,21
13,E Lewis (MI),13,13,0,382,65,29.38,276,138.40,-,2,2,32,24
14,AM Rahane (RR),15,14,1,370,65*,28.46,313,118.21,-,1,-,39,5
15,CH Gayle (KXIP),11,11,2,368,104*,40.88,252,146.03,1,3,1,30,27
16,SP Narine (KKR),16,16,0,357,75,22.31,188,189.89,-,2,-,40,23
17,RV Uthappa (KKR),16,16,0,351,54,21.93,265,132.45,-,1,-,30,21
18,AD Russell (KKR),16,14,3,316,88*,28.72,171,184.79,-,1,1,17,31
19,N Rana (KKR),15,15,2,304,59,23.38,232,131.03,-,1,-,26,14

In [ ]:
url = 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2018-12210'

In [267]:
batting_urls = {'2023':'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2023-15129',
'2021':'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2021-13840',
'2022':'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2022-14452',
'2020': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2020-21-13533',
'2019':'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2019-12741',
'2018': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2018-12210',
'2017': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2017-11701',
'2016': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2016-11001',
'2015': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/pepsi-indian-premier-league-2015-9657',
'2014': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/pepsi-indian-premier-league-2014-8827',
'2013': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2013-7720',
'2012': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2012-6680',
'2011': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2011-5969',
'2010': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2009-10-5319',
'2009': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2009-4801',
'2008': 'https://www.espncricinfo.com/records/tournament/batting-most-runs-career/indian-premier-league-2007-08-3519'}

In [5]:
bowling_urls = {'2023':'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2023-15129',
'2022':'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2022-14452',
'2021':'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2021-13840',
'2020': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2020-21-13533',
'2019':'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2019-12741',
'2018': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2018-12210',
'2017': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2017-11701',
'2016': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2016-11001',
'2015': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/pepsi-indian-premier-league-2015-9657',
'2014': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/pepsi-indian-premier-league-2014-8827',
'2013': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2013-7720',
'2012': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2012-6680',
'2011': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2011-5969',
'2010': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2009-10-5319',
'2009': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2009-4801',
'2008': 'https://www.espncricinfo.com/records/tournament/bowling-most-wickets-career/indian-premier-league-2007-08-3519'}

In [40]:
top_bowlers_master = {}

for season, url in bowling_urls.items():
    driver.get(url)
    print(season)
    
    html = driver.page_source.encode('utf-8')
    page_num = 0
    content = driver.page_source
    page_soup = soup(driver.page_source, 'lxml')

    table = page_soup.findAll('tr', {'class':'ds-bg-ui-fill-translucent'})
    labels = page_soup.findAll('span', {'class':'ds-cursor-pointer'})
    
    all_labels = []
    for i in range(14):
        all_labels.append(labels[i].text)
    
    top_bowlers = []
    count = 0

    for item in table:
        json_obj = {}
        table_objects = item.findAll('td')
        for count in range(len(table_objects)-1):
            json_obj[all_labels[count]] = table_objects[count].text
        json_obj['team'] = json_obj['Player'].split(' (')[1].replace(')', '')
        json_obj['bowler_surname'] = json_obj['Player'].split(' ')[-2]
        top_bowlers.append(json_obj)

    top_bowlers_pd = pd.DataFrame.from_dict(top_bowlers)
    top_bowlers_master[season] = top_bowlers_pd

2023
2021
2022
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008

In [268]:
top_batters_master = {}

for season, url in batting_urls.items():
    driver.get(url)
    print(season)
    
    html = driver.page_source.encode('utf-8')
    page_num = 0
    content = driver.page_source
    page_soup = soup(driver.page_source, 'lxml')

    table = page_soup.findAll('tr', {'class':'ds-bg-ui-fill-translucent'})
    labels = page_soup.findAll('span', {'class':'ds-cursor-pointer'})
    
    all_labels = []
    for i in range(14):
        all_labels.append(labels[i].text)
    
    top_batters = []
    count = 0

    for item in table:
        json_obj = {}
        table_objects = item.findAll('td')
        for count in range(len(table_objects)):
            json_obj[all_labels[count]] = table_objects[count].text
        json_obj['team'] = json_obj['Player'].split(' (')[1].replace(')', '')
        json_obj['batter_surname'] = json_obj['Player'].split(' ')[-2]
        top_batters.append(json_obj)

    top_batters_pd = pd.DataFrame.from_dict(top_batters)
    top_batters_master[season] = top_batters_pd

2023
2021
2022
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008

In [79]:
top_batters_master['2023']

,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s
0,F du Plessis (RCB),12,12,1,631,84,57.36,409,154.27,-,7,-,48,34
1,Shubman Gill (GT),13,13,1,576,101,48.00,394,146.19,1,4,1,62,14
2,YBK Jaiswal (RR),13,13,1,575,124,47.91,346,166.18,1,4,1,74,26
3,DP Conway (CSK),13,12,2,498,92*,49.80,370,134.59,-,5,1,58,13
4,SA Yadav (MI),13,13,1,486,103*,40.50,260,186.92,1,4,1,52,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,A Nortje (DC),9,6,3,37,23*,12.33,28,132.14,-,-,1,6,0
80,GD Phillips (SRH),3,3,0,33,25,11.00,14,235.71,-,-,1,1,4
81,Vishnu Vinod (MI),2,2,0,32,30,16.00,24,133.33,-,-,-,2,2
82,Kuldeep Yadav (DC),13,9,8,31,10*,31.00,47,65.95,-,-,1,2,0
83,MG Bracewell (RCB),3,2,1,28,19,28.00,27,103.70,-,-,-,1,1

In [80]:
driver.quit()

In [ ]:
all_seasons = {'2023': '/series/indian-premier-league-2023-1345038/match-schedule-fixtures-and-results',
 '2022': '/series/indian-premier-league-2022-1298423/match-schedule-fixtures-and-results',
 '2021': '/series/ipl-2021-1249214/match-schedule-fixtures-and-results',
 '2020': '/series/ipl-2020-21-1210595/match-schedule-fixtures-and-results',
 '2019': '/series/ipl-2019-1165643/match-schedule-fixtures-and-results',
 '2018': '/series/ipl-2018-1131611/match-schedule-fixtures-and-results',
 '2017': '/series/ipl-2017-1078425/match-schedule-fixtures-and-results',
 '2016': '/series/ipl-2016-968923/match-schedule-fixtures-and-results',
 '2015': '/series/pepsi-indian-premier-league-2015-791129/match-schedule-fixtures-and-results',
 '2014': '/series/pepsi-indian-premier-league-2014-695871/match-schedule-fixtures-and-results',
 '2013': '/series/indian-premier-league-2013-586733/match-schedule-fixtures-and-results',
 '2012': '/series/indian-premier-league-2012-520932/match-schedule-fixtures-and-results',
 '2011': '/series/indian-premier-league-2011-466304/match-schedule-fixtures-and-results',
 '2010': '/series/indian-premier-league-2009-10-418064/match-schedule-fixtures-and-results',
 '2009': '/series/indian-premier-league-2009-374163/match-schedule-fixtures-and-results',
 '2008': '/series/indian-premier-league-2007-08-313494/match-schedule-fixtures-and-results'}

In [82]:
url = 'https://www.espncricinfo.com/series/pepsi-indian-premier-league-2015-791129/points-table-standings'
driver.get(url)

In [83]:
html = driver.page_source.encode('utf-8')
page_num = 0
content = driver.page_source
page_soup = soup(driver.page_source, 'lxml')

In [84]:
team_names = page_soup.findAll('span', {'class':'ds-text-tight-s ds-font-bold ds-uppercase ds-text-left'})

In [85]:
team_names

[<span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Chennai Super Kings</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Mumbai Indians</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Royal Challengers Bangalore</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Rajasthan Royals</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Kolkata Knight Riders</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Sunrisers Hyderabad</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Delhi Daredevils</span>,
 <span class="ds-text-tight-s ds-font-bold ds-uppercase ds-text-left">Kings XI Punjab</span>]

In [19]:
all_points_table = {'2023': '/series/indian-premier-league-2023-1345038/points-table-standings',
 '2022': '/series/indian-premier-league-2022-1298423/points-table-standings',
 '2021': '/series/ipl-2021-1249214/points-table-standings',
 '2020': '/series/ipl-2020-21-1210595/points-table-standings',
 '2019': '/series/ipl-2019-1165643/points-table-standings',
 '2018': '/series/ipl-2018-1131611/points-table-standings',
 '2017': '/series/ipl-2017-1078425/points-table-standings',
 '2016': '/series/ipl-2016-968923/points-table-standings',
 '2015': '/series/pepsi-indian-premier-league-2015-791129/points-table-standings',
 '2014': '/series/pepsi-indian-premier-league-2014-695871/points-table-standings',
 '2013': '/series/indian-premier-league-2013-586733/points-table-standings',
 '2012': '/series/indian-premier-league-2012-520932/points-table-standings',
 '2011': '/series/indian-premier-league-2011-466304/points-table-standings',
 '2010': '/series/indian-premier-league-2009-10-418064/points-table-standings',
 '2009': '/series/indian-premier-league-2009-374163/points-table-standings',
 '2008': '/series/indian-premier-league-2007-08-313494/points-table-standings'}

In [20]:
data = []
espncricinfo ='https://espncricinfo.com'
for season, table_url in all_points_table.items():
    driver.get(espncricinfo + table_url)
    print(season)
    html = driver.page_source.encode('utf-8')
    page_num = 0
    content = driver.page_source
    page_soup = soup(driver.page_source, 'lxml')
    team_names = page_soup.findAll('span', {'class':'ds-text-tight-s ds-font-bold ds-uppercase ds-text-left'})
    for i in range(len(team_names)):
        json_obj = {}
        json_obj['season'] = season
        json_obj['Position'] = i+1
        json_obj['Team Name'] = team_names[i].text
        data.append(json_obj)
all_points_table_pd = pd.DataFrame.from_dict(data)

2023
2022
2021
2020
2019
2018
2017
2016
2015
2014
2013
2012
2011
2010
2009
2008

In [271]:
for year, item in top_batters_master.items():
    item['year'] = year
    if year == '2023':
        top_batters_pd = item.head(15).reset_index().copy()
    else:
        top_batters_pd = pd.concat([top_batters_pd, item.head(15).reset_index()])

top_batters_pd.rename(columns={'index':'rank'}, inplace=True)
top_batters_pd['rank'] = top_batters_pd['rank'] + 1

In [41]:
for year, item in top_bowlers_master.items():
    item['year'] = year
    if year == '2023':
        top_bowlers_pd = item.head(15).reset_index().copy()
    else:
        top_bowlers_pd = pd.concat([top_bowlers_pd, item.head(15).reset_index()])

top_bowlers_pd.rename(columns={'index':'rank'}, inplace=True)
top_bowlers_pd['rank'] = top_bowlers_pd['rank'] + 1

In [42]:
top_bowlers_pd

,rank,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4,team,bowler_surname,year
0,1,Mohammed Shami (GT),13,13,306,51.0,2,385,23,4/11,4/11,16.73,7.54,13.30,2,GT,Shami,2023
1,2,Rashid Khan (GT),13,13,312,52.0,-,414,23,4/30,4/30,18.00,7.96,13.56,1,GT,Khan,2023
2,3,YS Chahal (RR),13,13,293,48.5,-,392,21,4/17,4/17,18.66,8.02,13.95,3,RR,Chahal,2023
3,4,PP Chawla (MI),13,13,300,50.0,-,383,20,3/22,3/22,19.14,7.66,15.00,-,MI,Chawla,2023
4,5,CV Varun (KKR),13,13,292,48.4,1,391,19,4/15,4/15,20.57,8.03,15.36,1,KKR,Varun,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,RP Singh (DC),14,14,308,51.2,1,442,15,3/35,3/35,29.46,8.61,20.53,-,DC,Singh,2008
11,12,MM Patel (RR),15,15,330,55.0,1,420,14,3/17,3/17,30.00,7.63,23.57,-,RR,Patel,2008
12,13,SK Trivedi (RR),15,15,288,48.0,-,399,13,2/25,2/25,30.69,8.31,22.15,-,RR,Trivedi,2008
13,14,Umar Gul (KKR),6,6,135,22.3,1,184,12,4/23,4/23,15.33,8.17,11.25,1,KKR,Gul,2008
14,15,A Nehra (MI),14,14,269,44.5,-,348,12,3/13,3/13,29.00,7.76,22.41,-,MI,Nehra,2008

In [272]:
top_batters_pd

,rank,Player,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,4s,6s,team,batter_surname,year
0,1,F du Plessis (RCB),13,13,1,702,84,58.50,456,153.94,-,8,-,55,36,RCB,Plessis,2023
1,2,Shubman Gill (GT),13,13,1,576,101,48.00,394,146.19,1,4,1,62,14,GT,Gill,2023
2,3,YBK Jaiswal (RR),13,13,1,575,124,47.91,346,166.18,1,4,1,74,26,RR,Jaiswal,2023
3,4,V Kohli (RCB),13,13,1,538,100,44.83,396,135.85,1,6,1,52,15,RCB,Kohli,2023
4,5,DP Conway (CSK),13,12,2,498,92*,49.80,370,134.59,-,5,1,58,13,CSK,Conway,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,RG Sharma (DC),13,12,1,404,76*,36.72,273,147.98,-,4,1,38,19,DC,Sharma,2008
11,12,R Dravid (RCB),14,14,1,371,75*,28.53,298,124.49,-,2,2,35,11,RCB,Dravid,2008
12,13,SC Ganguly (KKR),13,13,1,349,91,29.08,307,113.68,-,3,-,33,15,KKR,Ganguly,2008
13,14,S Dhawan (DC),14,14,5,340,68*,37.77,295,115.25,-,4,1,35,8,DC,Dhawan,2008
14,15,KC Sangakkara (KXIP),10,9,0,320,94,35.55,198,161.61,-,4,-,41,8,KXIP,Sangakkara,2008

In [273]:
top_batters_pd['team'].unique()

array(['RCB', 'GT', 'RR', 'CSK', 'MI', 'SRH', 'DC', 'KKR', 'LSG', 'PBKS',
       'KXIP', 'RPS', 'GL', 'PWI'], dtype=object)

In [21]:
team_short_names = {'Gujarat Titans': 'GT',
 'Chennai Super Kings':'CSK', 
 'Lucknow Super Giants':'LSG',
 'Royal Challengers Bangalore': 'RCB', 
 'Mumbai Indians':'MI',
 'Rajasthan Royals':'RR',
 'Kolkata Knight Riders':'KKR',
 'Punjab Kings':'PBKS',
 'Delhi Capitals':'DC', 
 'Sunrisers Hyderabad':'SRH', 
 'Kings XI Punjab':'KXIP',
 'Delhi Daredevils':'DD',
 'Rising Pune Supergiant':'RPS',
 'Gujarat Lions':'GL',
 'Rising Pune Supergiants':'RPS', 
 'Pune Warriors':'PWI',
 'Deccan Chargers':'DC',
 'Kochi Tuskers Kerala':'KTK'}

In [22]:
all_points_table_pd['team'] = all_points_table_pd['Team Name']
all_points_table_pd.replace({'team':team_short_names}, inplace=True)

In [23]:
all_points_table_pd

    season  Position                    Team Name team
0     2023         1               Gujarat Titans   GT
1     2023         2          Chennai Super Kings  CSK
2     2023         3         Lucknow Super Giants  LSG
3     2023         4  Royal Challengers Bangalore  RCB
4     2023         5               Mumbai Indians   MI
..     ...       ...                          ...  ...
131   2008         4             Delhi Daredevils   DD
132   2008         5               Mumbai Indians   MI
133   2008         6        Kolkata Knight Riders  KKR
134   2008         7  Royal Challengers Bangalore  RCB
135   2008         8              Deccan Chargers   DC

[136 rows x 4 columns]

In [44]:
ipl_matches = pd.read_csv('ipl_all_seasons_v6.csv')

In [45]:
ipl_matches['home_key_bowler'] = ipl_matches['home_key_bowler'].str.replace('*', '')
ipl_matches[['home_key_bowler_1', 'home_key_bowler_2']] = ipl_matches['home_key_bowler'].str.split(', ', expand=True)

In [277]:
ipl_matches['home_key_batter'] = ipl_matches['home_key_batter'].str.replace('*', '')
ipl_matches[['home_key_batter_1', 'home_key_batter_2']] = ipl_matches['home_key_batter'].str.split(' , ', expand=True)

In [278]:
ipl_matches['away_key_batter'] = ipl_matches['away_key_batter'].str.replace('*', '')
ipl_matches[['away_key_batter_1', 'away_key_batter_2']] = ipl_matches['away_key_batter'].str.split(' , ', expand=True)

In [46]:
ipl_matches['away_key_bowler'] = ipl_matches['away_key_bowler'].str.replace('*', '')
ipl_matches[['away_key_bowler_1', 'away_key_bowler_2']] = ipl_matches['away_key_bowler'].str.split(', ', expand=True)

In [279]:
home_key_batter_2 = ipl_matches.groupby(['home_key_batter_2', 'season']).count().reset_index()[['home_key_batter_2','season','id']].rename(columns={'id':'home_key_batter_2_count', 'home_key_batter_2':'batter'})
home_key_batter_1 = ipl_matches.groupby(['home_key_batter_1', 'season']).count().reset_index()[['home_key_batter_1','season','id']].rename(columns={'id':'home_key_batter_1_count', 'home_key_batter_1':'batter'})

away_key_batter_2 = ipl_matches.groupby(['away_key_batter_2', 'season']).count().reset_index()[['away_key_batter_2','season','id']].rename(columns={'id':'away_key_batter_2_count', 'away_key_batter_2':'batter'})
away_key_batter_1 = ipl_matches.groupby(['away_key_batter_1', 'season']).count().reset_index()[['away_key_batter_1','season','id']].rename(columns={'id':'away_key_batter_1_count', 'away_key_batter_1':'batter'})

In [47]:
home_key_bowler_2 = ipl_matches.groupby(['home_key_bowler_2', 'season']).count().reset_index()[['home_key_bowler_2','season','id']].rename(columns={'id':'home_key_bowler_2_count', 'home_key_bowler_2':'bowler'})
home_key_bowler_1 = ipl_matches.groupby(['home_key_bowler_1', 'season']).count().reset_index()[['home_key_bowler_1','season','id']].rename(columns={'id':'home_key_bowler_1_count', 'home_key_bowler_1':'bowler'})

away_key_bowler_2 = ipl_matches.groupby(['away_key_bowler_2', 'season']).count().reset_index()[['away_key_bowler_2','season','id']].rename(columns={'id':'away_key_bowler_2_count', 'away_key_bowler_2':'bowler'})
away_key_bowler_1 = ipl_matches.groupby(['away_key_bowler_1', 'season']).count().reset_index()[['away_key_bowler_1','season','id']].rename(columns={'id':'away_key_bowler_1_count', 'away_key_bowler_1':'bowler'})

In [280]:
home_batter_record = home_key_batter_1.merge(home_key_batter_2, how='outer', left_on=['batter', 'season'], right_on=['batter', 'season'])
away_batter_record = away_key_batter_1.merge(away_key_batter_2, how='outer', left_on=['batter', 'season'], right_on=['batter', 'season'])

In [48]:
home_bowler_record = home_key_bowler_1.merge(home_key_bowler_2, how='outer', left_on=['bowler', 'season'], right_on=['bowler', 'season'])
away_bowler_record = away_key_bowler_1.merge(away_key_bowler_2, how='outer', left_on=['bowler', 'season'], right_on=['bowler', 'season'])

In [281]:
all_batter_record = home_batter_record.merge(away_batter_record, left_on=['batter', 'season'], right_on=['batter', 'season'], how='outer')

In [49]:
all_bowler_record = home_bowler_record.merge(away_bowler_record, left_on=['bowler', 'season'], right_on=['bowler', 'season'], how='outer')

In [50]:
all_batter_record = all_batter_record.fillna(0)
all_batter_record['overall_key_count'] = all_batter_record['home_key_batter_1_count'] + all_batter_record['home_key_batter_2_count'] + all_batter_record['away_key_batter_1_count'] + all_batter_record['away_key_batter_2_count']
all_batter_record['home_key_count'] = all_batter_record['home_key_batter_1_count'] + all_batter_record['home_key_batter_2_count']
all_batter_record['away_key_count'] = all_batter_record['away_key_batter_1_count'] + all_batter_record['away_key_batter_2_count']

NameError: name 'all_batter_record' is not defined

In [51]:
all_bowler_record = all_bowler_record.fillna(0)
all_bowler_record['overall_key_count'] = all_bowler_record['home_key_bowler_1_count'] + all_bowler_record['home_key_bowler_2_count'] + all_bowler_record['away_key_bowler_1_count'] + all_bowler_record['away_key_bowler_2_count']
all_bowler_record['home_key_count'] = all_bowler_record['home_key_bowler_1_count'] + all_bowler_record['home_key_bowler_2_count']
all_bowler_record['away_key_count'] = all_bowler_record['away_key_bowler_1_count'] + all_bowler_record['away_key_bowler_2_count']

In [283]:
all_batter_record = all_batter_record.sort_values(by=['overall_key_count', 'away_key_count'], ascending=False)

In [284]:
all_batter_record.drop(['home_key_batter_1_count', 'home_key_batter_2_count', 'away_key_batter_1_count', 'away_key_batter_2_count'], axis=1, inplace=True)

In [285]:
all_batter_record['batter_surname'] = all_batter_record['batter'].str.split(' ', n=1).str[-1].str.replace(' ', '')

In [286]:
all_batter_record

,batter,season,overall_key_count,home_key_count,away_key_count,batter_surname
112,David Warner,2016,12.0,6.0,6.0,Warner
467,Shaun Marsh,2008,10.0,5.0,5.0,Marsh
81,Chris Gayle,2012,9.0,2.0,7.0,Gayle
218,Jos Buttler,2022,9.0,5.0,4.0,Buttler
161,Gautam Gambhir,2012,8.0,4.0,4.0,Gambhir
...,...,...,...,...,...,...
1247,Wriddhiman Saha,2022,1.0,1.0,0.0,Saha
1249,Yashasvi Jaiswal,2020,1.0,1.0,0.0,Jaiswal
1253,Yogesh Takawale,2008,1.0,1.0,0.0,Takawale
1256,Yusuf Pathan,2012,1.0,1.0,0.0,Pathan
1264,Yuvraj Singh,2014,1.0,1.0,0.0,Singh

In [52]:
all_bowler_record = all_bowler_record.sort_values(by=['overall_key_count', 'away_key_count'], ascending=False)
all_bowler_record.drop(['home_key_bowler_1_count', 'home_key_bowler_2_count', 'away_key_bowler_1_count', 'away_key_bowler_2_count'], axis=1, inplace=True)
all_bowler_record['bowler_surname'] = all_bowler_record['bowler'].str.split(' ', n=1).str[-1].str.replace(' ', '')

top_bowlers_pd['season'] = top_bowlers_pd['year'].str.split('/').str[0]
top_bowlers_pd['season'] = top_bowlers_pd['season'].astype('int')

In [288]:
top_batters_pd['season'] = top_batters_pd['year'].str.split('/').str[0]
top_batters_pd['season'] = top_batters_pd['season'].astype('int')

In [289]:
top_batters_pd.season.unique()

array([2023, 2021, 2022, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013,
       2012, 2011, 2010, 2009, 2008])

In [290]:
all_batter_record.season.unique()

array([2016, 2008, 2012, 2022, 2013, 2017, 2018, 2014, 2009, 2010, 2011,
       2021, 2015, 2020, 2023, 2019], dtype=int64)

In [307]:
all_batter_record.to_csv('all_batter_data.csv', index=False)

In [312]:
sa_surnames = {'Kock':'deKock', 'Plessis':'duPlessis', 'Villiers':'deVilliers'}

In [313]:
top_batters_pd.replace({'batter_surname':sa_surnames}, inplace=True)

In [39]:
top_bowlers_pd

,rank,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,BBM,Ave,Econ,SR,4,team,batter_surname,year,season
0,1,Mohammed Shami (GT),13,13,306,51.0,2,385,23,4/11,4/11,16.73,7.54,13.30,2,GT,Shami,2023,2023
1,2,Rashid Khan (GT),13,13,312,52.0,-,414,23,4/30,4/30,18.00,7.96,13.56,1,GT,Khan,2023,2023
2,3,YS Chahal (RR),13,13,293,48.5,-,392,21,4/17,4/17,18.66,8.02,13.95,3,RR,Chahal,2023,2023
3,4,PP Chawla (MI),13,13,300,50.0,-,383,20,3/22,3/22,19.14,7.66,15.00,-,MI,Chawla,2023,2023
4,5,CV Varun (KKR),13,13,292,48.4,1,391,19,4/15,4/15,20.57,8.03,15.36,1,KKR,Varun,2023,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10,11,RP Singh (DC),14,14,308,51.2,1,442,15,3/35,3/35,29.46,8.61,20.53,-,DC,Singh,2008,2008
11,12,MM Patel (RR),15,15,330,55.0,1,420,14,3/17,3/17,30.00,7.63,23.57,-,RR,Patel,2008,2008
12,13,SK Trivedi (RR),15,15,288,48.0,-,399,13,2/25,2/25,30.69,8.31,22.15,-,RR,Trivedi,2008,2008
13,14,Umar Gul (KKR),6,6,135,22.3,1,184,12,4/23,4/23,15.33,8.17,11.25,1,KKR,Gul,2008,2008
14,15,A Nehra (MI),14,14,269,44.5,-,348,12,3/13,3/13,29.00,7.76,22.41,-,MI,Nehra,2008,2008

In [315]:
orange_cap_data = top_batters_pd.merge(all_batter_record, how='left', left_on=['batter_surname', 'season'], right_on=['batter_surname', 'season'])

In [53]:
purple_cap_data = top_bowlers_pd.merge(all_bowler_record, how='left', left_on=['bowler_surname', 'season'], right_on=['bowler_surname', 'season'])

In [56]:
all_points_table_pd['season'] = all_points_table_pd['season'].astype('int')

In [57]:
purple_cap_data.drop_duplicates(['Player', 'season'], inplace=True)
purple_cap_data = purple_cap_data.merge(all_points_table_pd, how='left', left_on=['team', 'season'], right_on=['team', 'season'])

In [317]:
orange_cap_data.drop_duplicates(['Player', 'season'], inplace=True)

In [318]:
orange_cap_data = orange_cap_data.merge(all_points_table_pd, how='left', left_on=['team', 'season'], right_on=['team', 'season'])

In [58]:
purple_cap_data.rename(columns={'Position':'team_position'}, inplace=True)

In [59]:
purple_cap_data

,rank,Player,Mat,Inns,Balls,Overs,Mdns,Runs,Wkts,BBI,...,team,bowler_surname,year,season,bowler,overall_key_count,home_key_count,away_key_count,team_position,Team Name
0,1,Mohammed Shami (GT),13,13,306,51.0,2,385,23,4/11,...,GT,Shami,2023,2023,Mohammed Shami,6.0,4.0,2.0,1.0,Gujarat Titans
1,2,Rashid Khan (GT),13,13,312,52.0,-,414,23,4/30,...,GT,Khan,2023,2023,Rashid Khan,9.0,5.0,4.0,1.0,Gujarat Titans
2,3,YS Chahal (RR),13,13,293,48.5,-,392,21,4/17,...,RR,Chahal,2023,2023,Yuzvendra Chahal,6.0,3.0,3.0,6.0,Rajasthan Royals
3,4,PP Chawla (MI),13,13,300,50.0,-,383,20,3/22,...,MI,Chawla,2023,2023,Piyush Chawla,10.0,5.0,5.0,5.0,Mumbai Indians
4,5,CV Varun (KKR),13,13,292,48.4,1,391,19,4/15,...,KKR,Varun,2023,2023,NaN,NaN,NaN,NaN,7.0,Kolkata Knight Riders
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,11,RP Singh (DC),14,14,308,51.2,1,442,15,3/35,...,DC,Singh,2008,2008,RP Singh,5.0,1.0,4.0,8.0,Deccan Chargers
236,12,MM Patel (RR),15,15,330,55.0,1,420,14,3/17,...,RR,Patel,2008,2008,Munaf Patel,4.0,1.0,3.0,1.0,Rajasthan Royals
237,13,SK Trivedi (RR),15,15,288,48.0,-,399,13,2/25,...,RR,Trivedi,2008,2008,Siddharth Trivedi,5.0,4.0,1.0,1.0,Rajasthan Royals
238,14,Umar Gul (KKR),6,6,135,22.3,1,184,12,4/23,...,KKR,Gul,2008,2008,Umar Gul,4.0,2.0,2.0,6.0,Kolkata Knight Riders
239,15,A Nehra (MI),14,14,269,44.5,-,348,12,3/13,...,MI,Nehra,2008,2008,Ashish Nehra,4.0,2.0,2.0,5.0,Mumbai Indians

In [319]:
orange_cap_data.rename(columns={'Position':'team_position'}, inplace=True)

In [320]:
orange_cap_data.to_csv('orange_cap_data.csv', index=False)

In [61]:
purple_cap_data.to_csv('purple_cap_data_v1.csv', index=False)

In [ ]:
all_bowler_record.to_csv('all_batter_record.csv')

In [198]:
all_batter_record.to_csv('all_batter_record.csv')